p {
  font-family: Lato;
}
 .hea{
   display: flex;
   background-color: rgb(216, 72, 72);
height: 50px;
border-radius: 2px;
color: aliceblue;
flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 }
.d-flex{
  display: flex;
  justify-content: space-around;
}
